.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

h3.style1{
  color: black;
  font: bold;
  font-size: medium;
}

h3.style2{
  color: rgb(99, 96, 96);
  font-size: small;
}
.profile-card{
  margin:0px auto;
  width:200px;
  height:200px;
  overflow:hidden;
  background:rgb(255, 255, 255);
  padding:10px;
  border-radius:10px;
  box-shadow:0px 2px 6px rgb(0, 0, 0);
  transition:0.7s;
  position:relative;
}

.profile-card .back{
  position:absolute;
  width:100%;
  height:100%;
  top:380px;
  left:0;
  background:#000000;
  color:rgb(0, 0, 0);
  border-top-left-radius:55px;
  border-top-right-radius:55px;
  padding:10px;
  box-sizing:border-box;
  transition:0.4s;
}
.back p{
  padding:60px 0px;;
  line-height:27px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 100px;
  margin-top: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  background: teal;
  transition: background-color 1s ease;
}

/* Add some padding inside the card container */
.container {
  width:200px;
  margin:0px auto;
  text-align:center;
  flex-direction: column;
}

/* button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: teal;
  background-color: white;
  text-align: center;
  cursor: pointer; 
  width: 100%;
  font-size: 12px;
} */

.modal-wrapper {
  background: white;
  width: 60%;
  max-width: 600px;
  margin: 4rem auto;
}

.modal-header {
  background: white;
  color: rgb(84, 182, 182);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-content {
  padding: 1.5rem 1rem;
}

.modal-body {
  margin-bottom: 1rem;
}

.modal-body h4 {
  color:rgb(84, 182, 182);
  font-size: 1.2rem;
}

.modal-body p {
font-size: 1rem;
padding: 1rem;
display: flex;
white-space: pre-wrap;
}

.modal-footer button {
  display: block;
  font-size: 0.8rem; 
  padding: 0.5rem 1.8rem;
}

.modal-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: teal;
  background-color: white;
  text-align: center;
  cursor: pointer; 
  width: 100%;
  font-size: 12px;
}