.footer {
  text-align: center;
  padding: 20px;
  color: white;
  background-color: rgb(54, 58, 58);
}

.medium {
  font-size: medium;
  padding: 5px;
}

.tiny {
  font-size: x-small;
  padding: 10px;
  color: white;
  background-color: rgb(25, 184, 184);
}