header {
	text-align: center;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	border-radius: 0 0 85% 85% / 40%;
}

h1 {
	padding: 10px;
  background-color: rgb(25, 184, 184);
  text-align: center;
}

h4 {
    background-color: rgb(54, 58, 58);
    color: white;
    font: Roboto;
    margin: 0px;
    padding: 25px;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 3px solid rgb(136, 136, 136);
}

.Lob {
  width: 800px;
  height: auto;
}
